  /* Form Container */
  .form-container {
    background-color: #133644;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #d4d4d4;
    width: 350px;
    text-align: center;
  }
  
  .form-container h2 {
    color: #1877F2;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Input Group */
  .input-group {
    position: relative;
    margin-bottom: 15px;
  }
  
  .input-group .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #1877F2;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px 40px;
    border-radius: 8px;
    border: none;
    background-color: #173f4f;
    color: #d4d4d4;
    font-size: 16px;
  }
  .login-popup-condition {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .login-popup-condition input {
    margin-right: 10px;
  }
  
  .login-popup-condition p {
    margin: 0;
  }



  .input-group input::placeholder {
    color: #6c7a89;
  }
  
  
  /* Sign Up Button */
  .sign-up-btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background:#4285F4 ;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .sign-up-btn:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  /* Login Prompt */
  .login-prompt {
    margin-top: 15px;
    font-size: 14px;
    color: #d4d4d4;
  }
  
  .login-prompt a {
    color: #1877F2;
    text-decoration: none;
    font-weight: bold;


  }
  
  .login-prompt a:hover {
    text-decoration: underline;
    font-size:110%;
  }
  

  
  /* google signup button  */
  .google-signup-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4285F4;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  .google-signup-button img{
    height: 30px;
    width: 30px;
  }
  
  .google-signup-button:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

.error-message {
  color: #dc3545;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}